
<div class="about-us-wrapper">
<div class="about-us-first">
  <%= image_tag "laura_avatar.png", class: "avatar_top"%>
  <%= image_tag "leo_avatar.png", class: "avatar_bottom"%>
  <%= image_tag "teo_avatar.png", class: "avatar_left" %>
  <%= image_tag "martin_avatar.png", class: "avatar_right" %>
  </div>
  <div>
  <%= image_tag "laura_avatar.png", class: "avatar_top"%>
  </div>
</div>
