<h1>Create your profile</h1>

form WIP

<%= simple_form_for @user do |f| %>
  <%= f.input :username %>

  -- CHOOSE avatar
  x seed avatars avatar.photo.attach (images/name.png)
  user.attach avatar.image ()

  x g Avatar model
  x migration Avatar



  button radio

  how to access array, Model? - from the seeds
  <% avatar_arr.each do |a|%>
  <img src="<%= a.photo %>" alt="<%= a.photo.filename %>">
  <%= f.button :submit %>
<% end %>
