<div class="container" data-controller="show-rules">
<div class="rules-wrapper hidden" data-show-rules-target="rules">
    <%= render 'game_rules' %>
  </div>
  <div class="lobby-wrapper" data-show-rules-target="wrapper">
    <div class="lobby-team-text">
    <h1>Team one</h1>
    <h1>Team two</h1>
    </div>
      <div class="team-grid-container">
        <div class="team-grid">
        <%= render partial: 'player_grid', collection: game.teams.first.users, as: :user %>
        </div>
        <div class="team-grid">
          <%= render partial: 'player_grid', collection: game.teams.second.users, as: :user %>
        </div>
      </div>
      <div class="lobby-buttons">
        <%= link_to 'Ready Up', update_path(game_id: game.id), class: 'btn btn-red', data: {turbo_method: :get}%>
        <%= link_to "Rules", "#" ,class: 'btn btn-yellow', data: {turbo: false, action: "click->show-rules#show", show_rules_target: "rulesbutton"}%>
      </div>
  </div>
</div>
