<div class="container" data-controller="show-partial">
  <div class="pre-lobby-top-text">
    <h1>Code to join: </h1>
    <h1><%= game.id %> <i class="fa-solid fa-copy"></i></h1>
    <%= button_tag "Show QR", data: { action: "click->show-partial#showPartial" }, class: "btn-red", id: "show-qr-btn" %>
    <div data-show-partial-target="container"></div>
  </div>
  <div class="player-grid" id="pre-lobby-grid" data-show-partial-target="grid">
  <% users.each do |user| %>
    <div>
      <% a = Avatar.find(user.avatar_id) %>
      <%= cl_image_tag(a.photo.key, class: "avatar-rounded") %>
      <p><%= user.username %></p>
    </div>
    <% end %>
  </div>

  <div class="pre-lobby-bottom-text">
    <% if current_user.is_creator == true %>
      <%= button_to 'Start the game', update_path(game_id: game.id), method: :patch, class: 'btn btn-red', data: { turbo: true } %>
    <% else %>
      <h1>Waiting for more<br> players to join...</h1>
    <% end %>
  </div>
</div>
