<% pT1 = game.total_points_T1(game) %>
<% pT2 = game.total_points_T2(game) %>
<div class="result-wrapper">
    <div class="result-top-text">
      <h1>The winner is</h1>
      <% if pT1 > pT2 %>
        <h2>Team 1</h2>
      <% else %>
        <h2>Team 2</h2>
      <% end %>
    </div>

    <div class="result-players">
      <% if pT1 > pT2 %>
        <%= render partial: 'player_grid', collection: game.teams.first.users, as: :user %>
      <% else %>
          <%= render partial: 'player_grid', collection: game.teams.second.users, as: :user %>
      <% end %>
    </div>

    <% if pT1 > pT2 %>
      <div class="mvp-text" >
        <div>
          <h1>Best player is...</h1>
          <h1><%= game.mvp_1.username %></h1>
          <p><%= game.mvp_1.total_points %> points</p>
        </div>
          <% a = Avatar.find(game.mvp_1.avatar_id) %>
          <%= cl_image_tag(a.photo.key, class: "avatar-rounded") %>
      </div>
    <% else %>
      <div class="mvp-text">
        <div>
          <h1>Best player is...</h1>
          <h1><%= game.mvp_2.username %></h1>
          <p><%= game.mvp_2.total_points %> points</p>
        </div>
        <% a = Avatar.find(game.mvp_2.avatar_id) %>
        <%= cl_image_tag(a.photo.key, class: "avatar-rounded") %>

    </div>
      <% end %>

    <div class="result-bottom">
      <div>
        <h1>Score Sum Up</h1>
      </div>
      <div>
        <p>Team 1 scored: <strong><%= game.total_points_T1(game) %> points</strong></p>
        <p>Team 2 scored: <strong><%= game.total_points_T2(game) %> points</strong></p>
      </div>
    </div>
    <div class="results-button">
      <%= link_to "Play again", root_path, class: 'btn btn-red', data: {turbo: false} %>
    </div>
  </div>
</div>
