<div class="container">
      <h1>Round 1 | Results</h1>

    #fix styling to look as Figma
    <div class="lobby-team-text">
      <h1>Team 1</h1>
      <p><%= game.round_1.points_team1 %> points</p>
      <h1>Team 2</h1>
      <p><%= game.round_1.points_team2 %> points</p>
    </div>

    <div class="team-grid-container">
      <div class="team-grid">
      <%= render partial: 'player_grid', collection: game.teams.first.users, as: :user %>
      </div>
      <div class="team-grid">
        <%= render partial: 'player_grid', collection: game.teams.second.users, as: :user %>
      </div>
    </div>
     <%= button_to 'Start Round 2', update_path(game_id: game.id), method: :patch, class: 'btn btn-red', data: { turbo: true } %>
</div>
