<div class="results-wrapper">

    <h1>Round 1</h1>
    <div class="round-result-top">
      <div class="team-points-box">
        <h1>Team 1</h1>
        <h1 class="red-title"><%= game.round_1.points_team1 %> points</h1>
      </div>
      <div class="team-points-box">
        <h1>Team 2</h1>
        <h1 class="red-title"><%= game.round_1.points_team2 %> points</h1>
      </div>
    </div>


    <div class="team-grid-container">
      <div class="team-grid">
      <%= render partial: 'player_grid', collection: game.teams.first.users, as: :user %>
      </div>
      <div class="team-grid">
        <%= render partial: 'player_grid', collection: game.teams.second.users, as: :user %>
      </div>
    </div>

    <div class="round-result-bottom">
      <%= button_to 'Start Round 2', update_path(id: game.id), method: :patch, class: 'btn btn-red', data: { turbo: true } %>
    </div>
</div>
