<div class="index-wrapper">
  <div>
    <%= image_tag 'logo.png', alt: 'Logo', class:"logo" %>
  </div>
  <div>
    <%= link_to "Host a game", games_path(is_default: true), data: {turbo_method: "post"}, class:"btn btn-yellow" %>
  </div>

  <div>
    <%= link_to 'Join a game', join_game_path, class: 'btn btn-yellow', data: {turbo: false} %>
  </div>

  <div class="index-links">
    <%= link_to '#', class: 'btn', data: {turbo: false} do %>
          <p>
            How to play
          </p>
            <i class="fa-solid fa-chevron-right"></i>
        <% end %>
        <%= link_to 'about', class: 'btn', data: {turbo: false} do %>
          <p>
            About us
          </p>
            <i class="fa-solid fa-chevron-right"></i>
        <% end %>
  </div>
</div>
