<div class="container">
  <div class="form-wrapper">
  <h1>Cards entered <%= current_user.cards.count %>/2</h1>
    <%= simple_form_for [@game, @user, @card] do |form| %>
      <div class="field">
        <%= form.input :content, input_html: { autofocus: 'true', class: "game-code-input", required: true }, placeholder: "Write here...", label: false %>
      </div>
      <div class="card-word-examples-wrapper">
        <p>Some examples:</p>
        <p class="word-examples">“<%= [ "The Mona Lisa", "Eiffel Tower", "Shrek", "Cleopatra", "The Beatles", "Harry Potter", "Mount Everest", "Albert Einstein", "The Sphinx", "Leonardo da Vinci", "Marilyn Monroe", "Titanic", "Pikachu", "Statue of Liberty", "Michael Jackson", "Sherlock Holmes", "The Colosseum", "Elvis Presley", "Star Wars", "Napoleon Bonaparte", "Spider-Man", "The Hobbit", "Big Ben", "The Godfather", "Machu Picchu", "Julius Caesar", "Batman", "Stonehenge", "Jurassic Park", "King Arthur", "Charlie Chaplin", "The Roman Empire", "James Bond", "The Grand Canyon", "Mozart", "Steve Jobs"].sample(3).join('”, “') %>”</p>
      </div>
      <div>
        <%= form.button :submit, "Enter a word", class: "btn btn-red", id: 'submit-button' %>
      </div>
    <% end %>
  </div>
</div>


<%# <script type="text/javascript">
  document.addEventListener('turbo:load', () => {
  const input = document.getElementById('word-input');
  const submitButton = document.getElementById('submit-button');
  function checkInput() {
    submitButton.disabled = input.value.trim() === '';
  }
  checkInput();
  input.addEventListener('input', checkInput);
  document.querySelector('form').addEventListener('submit', (e) => {
    if (input.value.trim() === '') {
      e.preventDefault();
      alert('Please fill a word');
    }
  });
  });
</script> %>
<%# <script type="text/javascript">
  window.addEventListener('DOMContentLoaded', (event) => {
    const submitButton = document.getElementById('submit-button');
    if (submitButton) {
      submitButton.disabled = true;
    }
  });
</script> %>
